# Introduction to Python

<img src='https://www.python.org/static/community_logos/python-logo-master-v3-TM.png'>

### What is Python?

It is a general-purpose high-level programming language, which means that you can use it for anything: organizing data, scraping the web, creating websites, analyzing sounds, creating games, and of course engineering computations.

* It was developed by Guido van Rossum and was released in 1991.
* It is 26 year old now!
* Python is an interpreted language. This means that you can write Python commands and the computer can execute those instructions directly.
* Python is developed under OSI-approved open source license, making it freely usable and distributable, even for commercial use.
* Python is to be used interactively, and we will be using IPython (the I stands for "interactive")in this short course!

### Why use Python?

* Because it is _SIMPLE and FUN!_
* Python is known as a _high-productivity_ language. As a programmer, you'll need less time to develop a solution with Python than with most languages. 
* GUIs (Graphical User Interface) - Python's simplicity results in a good match for developing GUIs on the desktop. Python has a built-in library called tkinter (Python 3.X) which allows the programmers to build portable GUIs. 
* Rapid Prototyping - Python's high-level built-in data structures make it suitable for rapid application development. Most of the libraries required for creating Artifical Intelligence applications are available for Python.
* Database Programming - With the available libraries, Python can easily integrate with structures and unstructured databases such as MySQL, PostgreSQL, MongoDB, and more. 
* Complex Scientific and Numeric Programming with Visualizations - To enhance the capabilities of scripting languages, few libraries such as Numpy, Pandas, Matplotlib, Plotly and more were developed. Python is easily integrated with these libraries, enabling python to perform complex mathematical calculations and calculations with ease.
* Deep Learning, Machine Learning, and Natural Language    Processing - Artificial Intelligence has now become an integral part in business. Most of the companies are now adopting this technology to boost their business and maximize profits. Libraries such as Tensorflow, Pytorch, Keras, and more, are important for developing intelligent personalized business trained model. These libraries are compatible with python, making the development much more easier. 

Well, these are only few examples Why and Where Python can be used! and _SKY IS THE LIMIT!_

The top technology companies use Python: Google, Facebook, Dropbox, Wikipedia, Yahoo!, YouTube… And this year, Python took the No. 1 spot in the interactive list of [The 2017 Top Programming Languages](http://spectrum.ieee.org/computing/software/the-2017-top-programming-languages), by _IEEE Spectrum_ ([IEEE](http://www.ieee.org/about/index.html) is the world's largest technical professional society).

### Who Uses Python?

* First time programmers!
* Web developers
* Data scientists
* Business Analysts
* Researchers and Academics
* Hobbiest!
* Machine Learning and AI Engineers


_"If you deal with data in any form ..., Python is the language for you !"_ -Saqib and Nabin

### Your first Python Program

You are about write the most difficult program in the world! 
The Hello World! ...

Let us print "Hello World" message. 

In Python, you use the print() function, with your message inside quotation marks.

Type: _print("Hello World!")_

Give it a try...!

In [ ]:
print("Hello World")

Hello World

### Congratulations you just wrote your first Python program !

##### Note: 
1. _print()_ is a function used display something (e.g. results, messages, instructions etc.) in your console.
2. _print()_ is one of the most widely used functions in Python. It is a great _debugging_ tool.
3. In the above _Hello World_ example,we passed a String between quotation  marks.


## An introduction to Jupyter notebooks

* It is a tool for working interactively with Python.
* It is an open-source web application.
* It was actually developed for scientists to easily work with Python and data!
* Allows to create and share documents that contain live code, equations, visualizations and narrative text.
* Want to install Jupyter notebook on your computer? [CLICK ME!](http://opentechschool.github.io/python-data-intro/core/notebook.html)

### Launching Jupyter notebook!

1. _On Windows_: 
   You have a launcher for Jupyter Notebook under Anaconda in Start Menu.

2. _On Linux or OS X_: 
   Open a terminal and navigate to the directory where you Python files and notebooks are stored. In the terminal window run the following command:

jupyter notebook

Upon successfully exection of the above command, Jupyter notebook interface will be shown on a web browser.



## The Print() Function

1. Used to display information such text messages(Strings), computation results, instructions etc on the console
2. It is a very useful tool for _Debugging_ (Locating, removing, and fixing errors and mistakes) code/program.
3. _"Print function"_ and not "Print statement"!
4. Print function expects arguments to be surrounded by parenthesis

#### Few Examples of Print function usage:

##### 1. The Syntax Trick!

In [ ]:
print "Hello World!" # print statement, Python 2.x syntax, a common mistake for Python 3.x users!

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello World!" # print statement, Python 2.x syntax, a common mistake for Python 3.x users!)? (<ipython-input-2-ce8ef4755258>, line 1)

In [ ]:
print ("Hello World!") # print function, for Python 3.x users! The correct syntax

Hello World!

##### 2. The standard syntax:

print(value1, value2, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Where: 
1. (value1, value2, ...) --> Values (value1, ...) to be printed, and are comma seperated
2. sep=' ' --> delimiter to be used while printing the Values (value1, ...), By _Default_ it is a single space/blank.

###### Example:

In [ ]:
print ("Hello", "World") # two arguments passed to print function, default seperator is used!

Hello World

In [ ]:
print ("Hello", "World", sep="") # two arguments passed to print function, seperator defined!

HelloWorld

##### Task 1: Print "Hello" and "World" seperated by a "+"
Expected output: Hello+World

In [ ]:
print() #Complete the code and run it!

##### Answer:

print("Hello", "World", sep="+")

##### Task 2: Print "Hello" and "World" seperated by a "+" but in the way given below:

Expected output: Hello + World

In [ ]:
print() #Complete the code and run it!

##### Answer:

In [ ]:
print("Hello", "World", sep=" + ")

#####  Task 3: Print the sum of two number 5 and 6

Expected output: 11





## Super Important about Python!

Python programs are structured through "indentation", which means a code block is defined by its indentation!

**It is not a style but a requirement of the Python programming language. **

Check an example below:

Code Block 1
    
    Code Block 2
    
        Code block 3
        
    Code Block 2 end
    
Code Block 1 end

# Basic Operators in Python

## 1. Comparison Operators

Comparison operators, as the name suggests are used to compare values and produces a boolean output which is either True or False.

### Comparison Operator Table

Assuming that **a = 6** and **b = 10**
<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Few Examples for deep understanding

For **Equal** Operator please type any two numbers that are equal/unequal to each other with **'=='** in between. For Instance **'2==2'**.

For **Not Equal** Operator, Please type any two numbers that are equal/unequal to eachother with **"!="** in between. For Instance **'2!=3'**.

For **Greater Than** Operator, Please type any two numbers that are equal/unequal to each other with **">"** in between. For Instance **'2>3'**.

For **Less Than** Operator, Please type any two numbers that are equal/unequal to each other with **"<"** in between. For Instance **'2<3'**.

For **Greater Than or Equal to** Operator, Please type any two numbers that are equal/unequal to each other with **">="** in between. For Instance **'2>=3'**.

For **Less Than or Equal to** Operator, Please type any two numbers that are equal/unequal to each other with **"<="** in between. For Instance **'2<=3'**.

**Congratulations on Learning Comparison Operators!!!**

## 2. Logical Operators with Comparison Operators

Logical operators uses **and**, **or**, and **not** between comparison operators and individual bits and provides output in the form of Boolean i.e. True/False or 1/0.

**I. and operation**

Let us refer to a basic swiching circuit!

<img src='http://drive.google.com/uc?export=view&id=1_qjbvx8dN2WYS7FlItXy-1vpPKfaK466' alt='OR'> 

**And Table**
<table class="table table-bordered">
<tr>
<th>Bit-1(A)</th><th>Bit-2(B)</th><th>Output</th>
</tr>
<tr>
<td>0</td>
<td>0</td>
<td>0/False</td>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>0/False</td>
</tr>
<tr>
<td>1</td>
<td>0</td>
<td>0/False</td>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td>1/True</td>
</tr>
</table>

Please type **"0 and 1"** or **"1 and 1"** in the Terminal.


**II. or operation**

Let us refer to a basic swiching circuit!

<img src='http://drive.google.com/uc?export=view&id=1ik3taHMeE9YPWKsFg4RxQepj0HVT17XA' alt='OR'> 

**OR Table**
<table class="table table-bordered">
<tr>
<th>Bit-1(A)</th><th>Bit-2(B)</th><th>Output</th>
</tr>
<tr>
<td>0</td>
<td>0</td>
<td>0/False</td>
</tr>
<tr>
<td>0</td>
<td>1</td>
<td>1/True</td>
</tr>
<tr>
<td>1</td>
<td>1</td>
<td>1/True</td>
</tr>
<tr>
<td>1</td>
<td>0</td>
<td>1/True</td>
</tr>
</table>

Please type **"0 or 0"** or **"1 or 0"** in the Terminal.


**III. not operation**

Not or complement operation performs a logical negation!

**NOT Table**
<table class="table table-bordered">
<tr>
<th>Bit-1</th><th>Output</th>
</tr>
<tr>
<td>0</td>
<td>1/True</td>
</tr>
<tr>
<td>1</td>
<td>0/False</td>
</tr>
</table>

Please type **"not 0"** or **"not 1"** in the Terminal.

## 3. Chained Comparison Operators

Now that we have seen what Logical Operators are, Let us work on few examples on chained comparison operators. This simply means combining Logical Operators with comparison operators.

Examples 1: Please type **2>3 and 4<3** in the Terminal.

Example 2: Please type **2>=1 or 5<3** in the Terminal.

Example 3: Please type **2==1 or 3==3** in the Terminal.

Example 4: Please type **not (3>1 and 4<2)** in the Terminal.

### References

1. _Python for Everybody: Exploring Data Using Python 3_ (2016). Charles R. Severance. [PDF available](http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf)
2. https://www.tutorialspoint.com/python/python_basic_operators.htm

## Quiz time!

1. A = 40, B = 40; What is output of the following?
<br/>    a. A <= B?
<br/>    b. A >= B?
<br/>   
<br/>
2. What is the output of (1 and 1) or (0 or 0)?
<br/>
<br/>
3. What is the output of (not 0) or (not 1) ?

# Python Conditional Statements

If, elif, and else are one of the most important keywords utilised in programming for decision making. These statements are also abundantly used on daily basis. Let us take an example, If we are going for the grocery shopping. Should we choose to walk or take the car? Which Apple should we buy, Red or Green?. All these questions are similar in terms of the decision making aspect. That is to make a decision based on If, elif statements. Shown Below is the Flow Chart for making Decision.

<img src='http://drive.google.com/uc?export=view&id=1aap65KmVHSip_lAP2I8xuan7yq-wA9Ye' alt='IFElse'>

Syntax for if, elif, else statement. Suppose **a=4** and **b=3**

### if a>b:

&nbsp;&nbsp;&nbsp;&nbsp;print("a is larger than b")
<br>
### elif a<b:

&nbsp;&nbsp;&nbsp;&nbsp;print("a is smaller than b")
### else:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print("a is equal to b")

Let us write our first code as shown above.
Please write **a = 4** in the Terminal.

Please write **b = 3** in the Terminal.

Steps for Writing the Code.
1. Please write **if a > b :** and Press Enter. This will automatically take you to next line with some space. Do not Worry this space is called **Indentation**. 
2. Now type **print (" a is greater than b")**.
3. Press Enter. This will take you to next line. If you are starting with some space on the next line. Press Backspace on the keyboard. Pressing Backspace will bring the pointer out of the **if** statement. Then you can start with **elif** statement.
4. Now write **elif a < b :** and Press Enter. Again this should automatically take you to next line with some space.
5. Now type **print ("a is smaller than b")**.
6. Again Press Enter and press Backspace.
7. Now Write **else:** and Press enter.
8. Type **print ("a is equal to b")**.

#### Task: Write few lines of code to check if a number is odd or even!

In [ ]:
# Create a variable and assign a value
a = 1

In [ ]:
# Check if the number of odd and print "It is an odd number" if true

if a%2 != 0:
    print ("It is an odd number!")

It is an odd number!

In [ ]:
# Check if the number is even and print "It is an even number" if false
if a%2 ==0:
    print ("It is an even number!")

In [ ]:
# Improve the above code using if - else block

### References

1. _Python for Everybody: Exploring Data Using Python 3_ (2016). Charles R. Severance. [PDF available](http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf)
2. https://www.tutorialspoint.com/python/python_decision_making.htm

## Congratulations you have written your first conditional Statement Program.

# Loops 


In programming, generally the statements in the program are executed sequentially in a function. However, there might be situations where we would like to execute particular operations multiple times. This is when we need loops!
<br>
<br>
A loop statement helps to execute a single statement or a group of statements multiple times. 
<br>
<br>
Below is the flowchart of a simple loop. The execution sequence is:

1. The program first execute and moves to the condition.
2. If condition is true, then executes the Conditional code 
3. Repeats executing the Conditional code until the condition becomes false.

<img src='http://drive.google.com/uc?export=view&id=1yeFP8V9N27lwdSCl5rfhyBuq7U3ER2my' alt='Loop'>

There are two types of loops in python.
1. for Loops
2. while Loops

## I. `for` Loops

 `for` loop has the ability to work as an interator in the python. It iterates for multiple times through items that are in sequence. We can iterate in number of objects such as strings, lists, tuples, and dictionaries.
<br>
<br>
Format for `for` statement:
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;for interating_var in sequence/object:
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;statements (s)
<br>
<br>
Here, interating_var is used for the variable name that one wants to interate, could be anything as wanted by programmer.

### Example 1: Listing all the data in my_list

Please type **my_list = [1,2,3,4,5,6,7,8,9,10]** in the terminal.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

Steps to write **`for`** loop program:
1. Please type **for x in my_list:** in the terminal and press Enter. This will take you to next line with some space. 
2. Now write print(x) and Press Shift+Enter. This will execute the program.

## Congratulations You have written your first `for` loop program.

### Example 2: Finding whether a number is Odd or Even in my_list

Steps to write this program:
1. Please type **for x in my_list:** in the terminal and press Enter.
2. Now write **if x % 2 == 0:** in the terminal and press Enter. This essentially means to check each number if the remainder is zero or not when a number is divided by 2.
3. Type **print("{} is an even number".format(x))** and press Enter. This will take you to next line. However, this time we want to come out of If statement, so we press backspace.
4. Type **else:** in the terminal and press Enter.
5. Type **print("{} is an odd number". format(x))** and press Shift+Enter.

In [ ]:
for x in my_list:
    if x%2 ==0:
        print("{} is an even number".format(x))
    else:
        print("{} is an odd number". format(x))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number

### Example 3: Summation of Numbers in my_list
Steps to write this program:
1. First initialize **sum=0** in the terminal.
2. Write **for x in my_list:** in the terminal and press Enter. 
3. Write **sum = sum+x** in the terminal and press Enter. This will bring you to the next line. However, this time we want to get out of the loop to print the total sum, hence press backspace.
4. Now type **print(sum)** in the terminal and press Shift+Enter.

### Example 4:  Program to print all the characters in the string.
Steps to write the program:
1. Type **for letter in 'I love programming.'"** in the Terminal and press Enter.
2. Type **print(letter)** in the Terminal and press Shift+Enter.

In [ ]:
for letter in 'I love programming.':
    print(letter)

I

l
o
v
e

p
r
o
g
r
a
m
m
i
n
g
.

### Example 5: Program to print the dictionary.
Steps to write the program:
1. First Make a dictionary. Type **my_dict = {'LOL':'Laugh Out Loud', 'BTW': 'By The Way', 'ASAP': 'As Soon As Possible'}** in the Terminal and press Shift+i.
2. Now type **for x in my_dict.items():** in the Terminal and press Enter.
3. Type **print(x)** in the Terminal and press Shift+i. This will print out both the **keys** and **Values**.
4. Type **for x,v in my_dict.items():** in the Terminal and press Enter. 
5. Type **print(v)** in the Terminal and press Shift+i. This will print out the **Values** of the dictionary.
6. Type **for x,v in my_dict.items():** in the Terminal and press Enter. 
7. Type **print(x)** in the Terminal and press Shift+i. This will print out the **Keys** of the dictionary.

In [ ]:
my_dict = {'LOL':'Laugh Out Loud', 'BTW': 'By The Way', 'ASAP': 'As Soon As Possible'}

In [ ]:
for x in my_dict.items():
    print(x)

('BTW', 'By The Way')
('LOL', 'Laugh Out Loud')
('ASAP', 'As Soon As Possible')

In [ ]:
for x,v in my_dict.items():
    print(v)

By The Way
Laugh Out Loud
As Soon As Possible

In [ ]:
for x,v in my_dict.items():
    print(x)

BTW
LOL
ASAP

## Congratulations you have learnt the `for` Loop.

## II. `while` Loop

`while` Loop is similar to `for` loop. However, instead of automatically iterating through list. In `while` loop we use manual iterators. We have much for control to the output. 
<br>
<br>
Format of a while loop:
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; while test:
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; code statements
<br>
&nbsp;&nbsp;&nbsp;&nbsp; else:
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;final code statements

### Example 1: Listing out all the number from 0 to 10
Steps for writing the code:
1. Write **i = 0** in the terminal and press Shift+Enter.
2. Write **while i<10:** in the terminal and press Enter.
3. Write **print('i is : {}'.format(i))** in the terminal and press enter.
4. Write **i = i+1** in the terminal and press Shift+Enter.

In [ ]:
i = 0

In [ ]:
while i<10:
    print('i is : {}'.format(i))
    i = i+1

i is : 0
i is : 1
i is : 2
i is : 3
i is : 4
i is : 5
i is : 6
i is : 7
i is : 8
i is : 9

## Congratulations you have written your  first `while` loop program.

### Example 2: Program for Testing `if, elif, and else` in the `while` loop.
Steps for writing this program:
1. Initilize **i=0**, Press Shift+Enter.
2. Type **while i < 10:** in the Terminal and press Enter.
3. Type **if (i < 6):** in the Terminal and press Enter.
4. Type **print("i is less than 6")** in the Terminal and press Enter and then backspace.
5. Type **elif (i == 6):** in the Terminal and press Enter.
6. Type **print("i is equal to 6 so I am coming out of the loop")** in the Terminal and press Enter.
7. Type **break** in the Terminal and press Enter and then Backspace.
8. Type **else:** in the Terminal and press Enter.
9. Type **print("i is greater than 6")** in the Terminal and press Enter and then backspace.
10. Type **i = i+1** in the Terminal and press Shift+Enter.

In [ ]:
i = 0

In [ ]:
while i<10:
    if (i<6):
        print("i is less than 6")
    elif (i==6):
        print("i is equal to 6 so I am coming out of the loop")
        break
    else:
        print("i is greater than 6")
    i = i+1

i is less than 6
i is less than 6
i is less than 6
i is less than 6
i is less than 6
i is less than 6
i is equal to 6 so I am coming out of the loop

### Example 3: The Infinite Loop
Steps to write infinite loop.
1. Type **while True:** in the Terminal and press Enter.
2. Type **print("Oh no! I am now in infinite loop. How can I get Back? Press the Stop button/Interrupt the Kernal at the Top to restart the Kernel")** in the Terminal and press Shift+i.



### Controlling Loops



<table class="table table-bordered">
<tr>
<th style="width:10%">Control statement</th><th style="width:45%">Description</th>
</tr>
<tr>
<td>break</td>
<td>Stops the loop execution and transfer the control to the statement outside the current loop.</td>
</tr>
<tr>
<td>continue</td>
<td>Skips the code after the continue statement in the same block and resume the loop execution from next iteration.</td>
</tr>
</table>



### References

1. _Python for Everybody: Exploring Data Using Python 3_ (2016). Charles R. Severance. [PDF available](http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf)
2. https://www.tutorialspoint.com/python/python_loops.htm

## Quiz time!

1. When can we use for loop?
<br/>
2. When can we use while loop?

# Functions and Methods

## Introduction to Functions

This session will discuss about the functions and methods in python. A Function is a reusable named sequence of statements which can be run more than once.
**So why a function is important and advantageous?**

    1) Function makes program easier to read, understand, and debug. 
    2) Functions can make a program smaller by eliminating repetitive code. Later, if you make a change, 
       you only have to make it in one place.
    3) Dividing a long program into a small function allows to debug only specific parts of the code and
       then assemble them into a working whole.
    4) Well-designed functions are often useful for many programs. Once you write and debug one program, 
       you can reuse the function repetitively.

As you have seen in the previous notebooks on strings and lists, we have used built-in function **'len()'** which find the length of the string. To avoid writing a code repetitively for common tasks such as checking the length of the string, a function is provided by standard library of python. 
 Later, you can “call” the function by name. We have already seen one example of a function call:
```python
   >>> type(32)
   <class 'int'>
```

The name of the function is type. The expression in parentheses is called the **argument** of the function. The argument is a value or a variable that we are passing into the function as an input. The result for the type function is the type of the argument. It is common to say that a function “takes” an argument and “returns” a result.

The result is called the **return value**.

This session will consist of explaining what a function is and how it is created. Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve the problems.

The outline of this notebook is given below
    
    1) Use def to define the function with distinct parameters through various examples. 
    2) Use return Statements to return values from the functions with examples.
    3) How to use a function in determining whether a number is prime or not.
    4) Methods
    5) Activities

## 1. def Statements

A basic function is written as follows.

In [ ]:
def name_of_function(arg1,arg2):
    '''
    Docstring is written here which describes the function.
    '''
    # Program here
    addition = arg1 + arg2
    # Return desired result
    return(addition)

- Function is defined by keyword 'def' followed by space and name of the function. The name of the function should be relevant and meaningful. The name of the function should not be similar to the ones defined in the standard python library. The built-in functions and their usage can be seen at the following link [built-in function in Python](https://docs.python.org/2/library/functions.html).

- The name of the function is followed by a pair of parenthesis with a number of arguments in between separated by a comma. These arguments are the inputs for your function and they may be optional. The function header is concluded by a colon `(:)`.

- After function header, docstring which describe the functionality of a function, the number of arguments (optional & mandatory), and the return of values. These descriptions act like a documentation for the function without having to go through all the code. Docstrings are not necessary for a simple function but they are recommended practice for readibility of the code.

Let's go through examples to understand the syntax more precisely.

### Example 1: A Simple function without arguments

In [ ]:
# Function definition is here
def hello():
    print('Hello World! Welcome to the function')

Calling the function

In [ ]:
hello()

### Example 2: A simple greeting function with one argument.
Let's write a function that accept one input name as an argument

In [ ]:
# Function definition is here
def greeting(name):
    print('Hello %s' %name)

In [ ]:
greeting('Mike')

### Example 3: Function with more than one argument.

In [ ]:
# Function definition is here
def printinformation(yourname,age,email):
    '''This function takes your name, age, and email is as an input and print all the information'''
    print("Name :", yourname)
    print ("Age :", age)
    print ("Email :",email)
    return

In [ ]:
# Now you can call printinformation function
printinformation(age=50, yourname="aaa",email="aaa@uts.edu.au" )

### Example 4: (Default argument) Function with more than one arguments

In [ ]:
# Function definition is here
def printinformation(yourname,email,age=35):
    '''This function takes your age as a default argument, and your name and email as an input and print all the information'''
    print("Name: ", yourname)
    print ("Age: ", age)
    print ("Email:",email)
    return

In [ ]:
# Now you can call printinformation function
printinformation(age=50, yourname="aaa",email="aaa@uts.edu.au" )

In [ ]:
printinformation(yourname="bbb",email="bbb@uts.edu.au")

### Example 5: Using return statement

The following example will return a value after the function execution using a `return` statement.

In [ ]:
def add_num(num1,num2,num3):
    return num1+num2+num3

In [ ]:
add_num(4,5,6)

In [ ]:
# Storing the data in a variable after the return of the value from the function.
result = add_num(4,5,6)

In [ ]:
print(result)

Let us see what happens when we try to input strings instead of integers in the same function.

In [ ]:
print("result1 =",add_num('one ','two ','three '))

It is interesting to note that this function concatenated three strings instead of showing error. There can be a check condition implemented for arguments to have a correct behavior of the function. For instance:
```
print(isinstance(25,int))

```
Lets execute this small code.

In [ ]:
# Feel free to change the "Hello" into some other value such as float (3.40) or int (45).
print(isinstance("Hello",str))

### Program for Prime or Not Prime number

To check a number if it is prime or not is used most commonly for the illustration of the functions.
**Prime number: The number is prime if it is only divisible by 1 or itself.** 
Let's have a look

In [ ]:
def is_prime(num):
    '''
    A method which take input as num and determine prime or not prime 
    '''
    for n in range(2,num):
        if num % n == 0:
            print('Not Prime')
            break
    else: # If never mod zero, then prime
        print('Prime Number')

In [ ]:
is_prime(5)

Note how we break the code after the print statement! We can actually improve this by only checking to the square root of the target number, also we can disregard all the even numbers after checking for 2. We'll also switch to returning a boolean value to get an example of using return statements:

In [ ]:
import math

def is_prime(num):
    '''
    Better method of checking for primes. 
    '''
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [ ]:
is_prime(14)

Great! You should now have a basic understanding of creating your own functions to save yourself from repeatedly writing code!

## 2. Methods
**Always remember that in python everything is a object**.
A function that belong to python object is called a **method**. The type of methods associated with the object depend upon the type of the object. For instance, string object will have different method than float ,boolean, or interger.
Let's practice with few simple examples

### Example 1: Index Method

In [ ]:
# Define a list
personal_info=["mike",30,"tom",40]

In [ ]:
# Here index is a method which is called for the list object personal_info
personal_info.index("mike")

### Example 2: Capitalize the first letter

In [ ]:
# In python there are number of object such as strings, bool, and int etc are associated with their respective methods
# lets take an example of string
mystring="university of technology sydney"
mystring.capitalize()  # first letter of the string is capatilized

In [ ]:
mystring.replace("sydney", "SYDNEY")

### Task 1: 
Rewrite your pay computation with time-and-a-half for overtime and create a function called `computepay` which takes two parameters (hours and rate).
Enter Hours: 45
Enter Rate: 10
Pay: 475.0

In [ ]:
# define the function computepay here.
def computepay(hours, rate):
    '''This program computes the salary of an employee. It takes two arguments hours and rate to determine 
       the result'''
    if hours > 40:
        # Calculating pay after 40 hours (overtime) 
        # Calculating pay for 40 hours
        # Adding both the pays 
    
    else:
         # No overtime calculation
    
     # Returning the total amount

In [ ]:
# call the function here.
result = computepay(45, 10) # Calling the function, giving values to the argument and storing the result in result
print(result) # printing the result

### Task 2: 
Write a function `calculator` for two arguments with following functionalities
```python
+   -   *   /   **   %   //
```

In [ ]:
# define the function calculator here.
def calculator(operator1, operand, operator2):
    
    ''' This program calculates the result of 2 operators with an operand in between. It takes 2 variables
        2 operators and 1 operand as arguments.
    '''
    if operand == '+': # if statement checks whether the operand is '+' addition or not
        result = operator1 + operator2 # result is calculated by adding the operator1 and operator2
    
    elif operand == '-': # checks whether the operand is '-' subtraction or not
         # result is determied by subtracting the operator1 and operator2
    
    elif operand == '*': # checks whether the operand is '*' multiplication or not
        # result is deduced by multiplying the operator1 and operator2
    
    elif operand == '/': # checks whether the operand is '/' division or not
        # result is caluclated by dividing the operator1 with operator2
    
    else: 
        result = "Please enter the correct operand" 
    
    return ()

In [ ]:
# call the function here.
finalresult = calculator(1, '-', 3) # Calls the function calculator and stores the return result in the finalresult
print (finalresult) # Print the final result.

### Task 3:

Write a program to roll a dice number of times and prints the result. Number is decided by the user.
Process:
- import the library in the cell. Write "import random".
- Create a definition in the next cell called "def rolldice".
- Before creating a while loop, create a variable 'i' and initialize a value 1 to it.
- Create a while loop.
- In the while loop use "random.randint(1,6)" to generate random integer between 1 and 6 inclusive.
- Print the result

In [ ]:
# Please write "import random" in this cell
import random

In [ ]:
# Write the definition in this cell
def rolldice(numofrolls):
    """ This program rolls a dice and returns a random result."""
    i = 1 # Creating a variable i and setting up an intial value of 1.
    while(i<=numofrolls): # Checking the number of rolls with while loop
        dice = random.randint(1,6) # Generating a random integer with the randint function
        print('Roll =  %d and Result = %d' %(i,dice)) # Printing the Roll number and the associated result
        i = i+1 # Incrementing the value of i so that Roll Number increases, we want the loop to get out
    return(dice)

In [ ]:
# Call the function here
rolldice(10)

### References

1. _Python for Everybody: Exploring Data Using Python 3_ (2016). Charles R. Severance. [PDF available](http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf)

2. https://www.tutorialspoint.com/python/python_functions.htm

### Functions and methods are very important and we will be using them frequently in the future !

# Dictionaries in Python

### What are Dictionaries?
A Python dictionary is a built-in data type which consists of a key and an associated value. Dictionaries are indexed by *key*. In simple terms, a dictionary is a set of *key : value* pairs, where *key* has to be unique. The value can be almost any Python object. 

In this section we will discuss about **dictionaries** in details which is an important data structure in python.

## Real-World Example

The real-world example could be phone book in which contact names act as key and their corresponding phone number as value. Phone books allow you to quickly retrieve the information (phone number) associated with a given key (a person’s name). So, instead of having to read a phone book front to back in order to find someone’s number, you can jump more or less directly to a name and look up the associated information. 


Dictionaries allow you to quickly find the information associated with a given key. Dictionaries are mutable, which means they can be changed. The values that the keys point to can be any Python value. Dictionaries are unordered, so the order that the keys are added doesn't necessarily reflect what order they may be reported back.


In summary, dictionaries are one of the most frequently used and most important data structures in computer science. So, how does Python handle dictionaries? Let’s take a tour of the dictionary implementations available in core Python and the Python standard library.

## Outline

The following will be discussed in this section:

    1) Constructing and accessing objects (values) from dictionary
    2) Add a value to the dictionary
    3) Remove a key and it's value
    4) Check the length of dictionary and test the dictionary
    5) Various ways to print all the keys and values 
    6) Sorting the dictionary
    7) Nesting Dictionaries
    8) Merging Dictionaries

### 1. Constructing a Dictionary and accessing objects (values) from dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Creating a dictionary with '{}' curly brackets  and ':' colon to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Print values by their key using '[]' square brackets to index it.
print(my_dict['key1'])

value1

We can also create keys by assignment. For instance, if we started off with an empty dictionary, we could continually add data to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog' # Here animal is the 'Key' and Dog is the 'value'

In [ ]:
# Can do this with any object
d['answer'] = 42 # Here answer is the 'Key' and 42 is the 'value'

In [ ]:
# Print the keys and values of the variable d
print(d)

{'animal': 'Dog', 'answer': 42}

In [ ]:
# Now lets take a practical example and create a phone book:
phonebook = {'Shamsheer':487723456, \
'Saqib':409238403, 'Nabin':476230945, \
'Michael':482723144}

In [ ]:
# Now lets print the phonebook
print(phonebook)

{'Nabin': 476230945, 'Saqib': 409238403, 'Michael': 482723144, 'Shamsheer': 487723456}

In [ ]:
# If you want to search a Phone Number of a specific person. Please make sure that the Keys are unique.
phonebook['Shamsheer']

487723456

### 2. Add a value to the dictionary
***Syntax is mydict[key]="value" ***
   
#### Task: "Add entry of your name with number to the phone and print the dictionary"

In [ ]:
# phonebook[]= your id

# print the dictionary

### 3. Remove a key and it's value
***Syntax is del mydict[key]***

In [ ]:
del phonebook["Shamsheer"]
print(phonebook)

{'Nabin': 476230945, 'Saqib': 409238403, 'Michael': 482723144}

### 4. Check the length of dictionary and test the dictionary
The len() function gives the number of pairs in the dictionary.

In [ ]:
print(len(phonebook))

3

In [ ]:
# Test the dictionary
# Check if a key exists in a given dictionary by using the 'in' operator like this:
'Shamsheer' in phonebook

False

In [ ]:
# Applying explicit looping to find a key
for name in phonebook:
    if "Shamsheer" in phonebook:
        print("Key found")
        break
    else:
        print("Key not found")

Key not found
Key not found
Key not found

### 5. Various ways to print all the keys and values

In [ ]:
# Printing all the keys with the help of 'for' loop
for key in phonebook:
    print(key)

Nabin
Saqib
Michael

In [ ]:
# Printing all the values with the help of 'for' loop
for key in phonebook:
    value= phonebook[key]
    print(value)

476230945
409238403
482723144

In [ ]:
# Printing all the Keys with the direct 'keys' function
keys=phonebook.keys()
print(keys)

dict_keys(['Nabin', 'Saqib', 'Michael'])

In [ ]:
# Printing all the values with the direct 'values' function
values=phonebook.values()
print(values)

dict_values([476230945, 409238403, 482723144])

In [ ]:
# Printing keys and values at the same time using 'for' loop
for key,val in phonebook.items():
    print (key, val)

Nabin 476230945
Saqib 409238403
Michael 482723144

### 6. Sorting the dictionary

In [ ]:
#Before sorting
for key, value in phonebook.items():
    print(key,value)
    
print("********************")

# After Sorting. The 'sorted' function can be directly used with the dictionary to sort the data in an 
# alphabetical order.
for key, value in sorted(phonebook.items()):
    print (key, value)

Nabin 476230945
Saqib 409238403
Michael 482723144
********************
Michael 482723144
Nabin 476230945
Saqib 409238403

### 7. Nesting Dictionaries

It is important to note that dictionaries are very flexible in the data types they can hold.
For instance:

In [ ]:
# Here 123 is an integer, [12, 23, 33] is an integer array, and ['item0','item1','item2'] is a string array.
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Lets call all the items from the dictionary.
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Lets call only one value instead of all items from the key3.
my_dict['key3'][0]

'item0'

In [ ]:
# Lets apply methods on that value.
my_dict['key3'][0].upper()

'ITEM0'

**Similary we can apply this method on our phonebook example.**

In [ ]:
# Lets add another user having name Tom with its phone number and email address
phonebook['Tom']=[485630183, 'tom@uts.edu.au']
for keys,values in phonebook.items():
    print(keys,values)

Nabin 476230945
Saqib 409238403
Tom [485630183, 'tom@uts.edu.au']
Michael 482723144

#### Task: "Create a phonebook and add contact details of 3 friends and print it."

In [ ]:
# phonebook[] = [phonenumber, 'email-id']

# Use one of the methods mentioned above to print the keys and values of the dictionary.

### 8. Merging Dictionaries

How about concatenating dictionaries!

The update() method merges the keys and values of one dictionary into another and overwrites values of the same key.

**Example:**

In [ ]:
# Task: Create two Dictionaries
phonebook1 = {'Shamsheer':880633667, \
'Saqib':678434645, 'Nabin':765834409, \
'Michael':112234523}

phonebook2 = {'Robert':34056616, \
'Saqib':678434673, 'Nabin':765834448, \
'Smith':982256526}

In [ ]:
# Write the code to show the dictionary contents:
print (phonebook1)
print (phonebook2)

{'Nabin': 765834409, 'Saqib': 678434645, 'Michael': 112234523, 'Shamsheer': 880633667}
{'Smith': 982256526, 'Nabin': 765834448, 'Robert': 34056616, 'Saqib': 678434673}

In [ ]:
# Lets merge them together!
# Syntax: dictionay1.update(dictionary2)
# Give it try!

phonebook1.update(phonebook2)
print(phonebook1)

{'Smith': 982256526, 'Michael': 112234523, 'Saqib': 678434673, 'Robert': 34056616, 'Shamsheer': 880633667, 'Nabin': 765834448}



### References

1. _Python for Everybody: Exploring Data Using Python 3_ (2016). Charles R. Severance. [PDF available](http://do1.dr-chuck.com/pythonlearn/EN_us/pythonlearn.pdf)
2. https://www.tutorialspoint.com/python/python_dictionary.htm

### Hopefully we now have a good basic understanding of how to construct dictionaries.